<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Flight Connexion</title>
</head>
<body>

<div class="row">
    <div class="column-left">
        <img src="static/img/asecna-logo.svg" alt="asecna-logo">
    </div>
    <div class="column-right">
        <!--      <div class="input-layout">-->
        <span class="card-login-text">Flight tracking</span>
        <h2 class="login-text">Log in to flight Tracking</h2>
        <span class="sub-text-login">Enter your id and password below</span>
        
        <form method="POST">
            <label for="id">Identifiant</label>
            <input id="username" type="text" name="username" placeholder="username">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Password">

            <span style="color:red" >{{ login_user_form.form_errors[0]}}</span> 
            <button class="btn-login">Login</button>
        </form>
    </div>

</div>

</body>
</html>