#actionBar {
  position: fixed;
  width: 50%;
  left: 25%;
  bottom: 5px;
}

button {
  float: left;
  width: 23%;
  margin: 1%;
  height: 100%;
  color:#fff;
  border: none;
  background: #109bce;
  border-radius: 5px;
}