/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body{
  /*margin: auto;*/
  font-family: 'Comfortaa', cursive;
  background-color: #F8F8FF;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
  position: relative;
}


.row{
  display: flex;
  justify-items: center;
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*align-content: space-around;*/
}
.column-left{
  flex: 50%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*background-color: red;*/
}
.column-right{
  flex: 50%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*flex-wrap: nowrap;*/
  background-color: white;
  border: #DFE0EB solid;
  border-radius: 10px;
  padding: 50px;
}
.card-login-text{
  color: #BFC1CA;
  font-size: 20px;
}
.login-text{
  font-size: 24px;
  font-weight: bold;
}
.sub-text-login{
  font-size: 14px;
  color: #9FA2B4;
  font-weight: normal;
}
form{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
label{
  color: #9FA2B4;
  margin-bottom: 10px;
  margin-top: 20px;
}
input{
  height: 20px;
  width: 500px;
  padding: 12px 20px;
  border-radius: 4px;
  border: #DFE0EB solid;
}
::placeholder{
  color: #9FA2B4;
  opacity: 0.6;
}
.btn-login{
  height: 50px;
  width: 100%;
  color: white;
  font-size: 24px;
  background-color: #4339F2;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  /*margin-bottom: 50px;*/
}

input:focus{
  border: #4339F2 solid;
}
.input-layout{
  height: 400px;
  padding: 50px;
  /*width: ;*/
  border: solid;
}
/*label{*/
/*  width: 400px;*/
/*}*/
#map{
  height: 80vh;
  /*width: 50%;*/
}
/*.title{*/
/*  text-align: center;*/
/*}*/
/*html {*/
/*  color: #222;*/
/*  font-size: 1em;*/
/*  line-height: 1.4;*/
/*}*/

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

/*::-moz-selection {*/
/*  background: #b3d4fc;*/
/*  text-shadow: none;*/
/*}*/

/*::selection {*/
/*  background: #b3d4fc;*/
/*  text-shadow: none;*/
/*}*/

/*
 * A better looking default horizontal rule
 */

/*hr {*/
/*  display: block;*/
/*  height: 1px;*/
/*  border: 0;*/
/*  border-top: 1px solid #ccc;*/
/*  margin: 1em 0;*/
/*  padding: 0;*/
/*}*/

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

/*audio,*/
/*canvas,*/
/*iframe,*/
/*img,*/
/*svg,*/
/*video {*/
/*  vertical-align: middle;*/
/*}*/

/*
 * Remove default fieldset styles.
 */

/*fieldset {*/
/*  border: 0;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*
 * Allow only vertical resizing of textareas.
 */

/*textarea {*/
/*  resize: vertical;*/
/*}*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

/*.hidden,*/
/*[hidden] {*/
/*  display: none !important;*/
/*}*/

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

/*.sr-only {*/
/*  border: 0;*/
/*  clip: rect(0, 0, 0, 0);*/
/*  height: 1px;*/
/*  margin: -1px;*/
/*  overflow: hidden;*/
/*  padding: 0;*/
/*  position: absolute;*/
/*  white-space: nowrap;*/
/*  width: 1px;*/
/*  !* 1 *!*/
/*}*/

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

/*.sr-only.focusable:active,*/
/*.sr-only.focusable:focus {*/
/*  clip: auto;*/
/*  height: auto;*/
/*  margin: 0;*/
/*  overflow: visible;*/
/*  position: static;*/
/*  white-space: inherit;*/
/*  width: auto;*/
/*}*/

/*
 * Hide visually and from screen readers, but maintain layout
 */

/*.invisible {*/
/*  visibility: hidden;*/
/*}*/

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

/*.clearfix::before,*/
/*.clearfix::after {*/
/*  content: " ";*/
/*  display: table;*/
/*}*/

/*.clearfix::after {*/
/*  clear: both;*/
/*}*/

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width: 35em) {*/
/*  !* Style adjustments for viewports that meet the condition *!*/
/*}*/

/*@media print,*/
/*  (-webkit-min-device-pixel-ratio: 1.25),*/
/*  (min-resolution: 1.25dppx),*/
/*  (min-resolution: 120dpi) {*/
/*  !* Style adjustments for high resolution devices *!*/
/*}*/

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

/*@media print {*/
/*  *,*/
/*  *::before,*/
/*  *::after {*/
/*    background: #fff !important;*/
/*    color: #000 !important;*/
/*    !* Black prints faster *!*/
/*    box-shadow: none !important;*/
/*    text-shadow: none !important;*/
/*  }*/

/*  a,*/
/*  a:visited {*/
/*    text-decoration: underline;*/
/*  }*/

/*  a[href]::after {*/
/*    content: " (" attr(href) ")";*/
/*  }*/

/*  abbr[title]::after {*/
/*    content: " (" attr(title) ")";*/
/*  }*/

/*  !**/
/*   * Don't show links that are fragment identifiers,*/
/*   * or use the `javascript:` pseudo protocol*/
/*   *!*/
/*  a[href^="#"]::after,*/
/*  a[href^="javascript:"]::after {*/
/*    content: "";*/
/*  }*/

/*  pre {*/
/*    white-space: pre-wrap !important;*/
/*  }*/

/*  pre,*/
/*  blockquote {*/
/*    border: 1px solid #999;*/
/*    page-break-inside: avoid;*/
/*  }*/

/*  !**/
/*   * Printing Tables:*/
/*   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables*/
/*   *!*/
/*  thead {*/
/*    display: table-header-group;*/
/*  }*/

/*  tr,*/
/*  img {*/
/*    page-break-inside: avoid;*/
/*  }*/

/*  p,*/
/*  h2,*/
/*  h3 {*/
/*    orphans: 3;*/
/*    widows: 3;*/
/*  }*/

/*  h2,*/
/*  h3 {*/
/*    page-break-after: avoid;*/
/*  }*/
/*}*/

#actionBar {
  position: fixed;
  width: 50%;
  left: 25%;
  bottom: 5px;
}

button {
  float: left;
  width: 23%;
  margin: 1%;
  height: 100%;
  color:#fff;
  border: none;
  background: #109bce;
  border-radius: 5px;
}