/*body{*/
/*    font-family: 'Comfortaa', cursive;*/
/*    background-color: #F8F8FF;*/
/*    margin-left: 200px;*/
/*    margin-right: 200px;*/
/*    margin-top: 50px;*/
/*    position: relative;*/
/*}*/

#mapid{
  height: 80vh;
  /*width: 50%;*/
}