<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font COMFORTAA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <!-- Bootstrap CSS DOWNLOAD-->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.grid.min.css">

    <title>Aviation Data</title>
</head>
<body style="font-family: 'Comfortaa', cursive">
<main class="container py-3">
    <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                    <span class="fs-4">Real Time Flight Map</span>
                </a>

              <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                  <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Home</a>
                  <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{{url_for('aviation')}}">Aviation Data</a>
                  <a href="{{url_for('security.logout')}}" class="btn btn-outline-secondary rounded-0">Logout</a>

              </nav>
            </div>
        </header>
    <h1 class="text-center">Aviation Data</h1>
    <div class="grid text-center">
        <img class="g-col-6 g-col-md-6 img-fluid" src="static/img/ARR.png" alt="arr">
        <img class="g-col-6 g-col-md-6 img-fluid" src="static/img/ARR1.png" alt="arr">
        <img class="g-col-6 g-col-md-6 img-fluid" src="static/img/DEP.png" alt="arr">
        <img class="g-col-6 g-col-md-6 img-fluid" src="static/img/SVL.png" alt="arr">
    </div>
</main>

</body>
</html>